/* Select everything to be border sizing */
*{
    box-sizing: border-box;
}


/* Set the body and html to have no margin/padding and fit to size */
body, html{
    margin: 0;
    padding: 0;
    min-height: 100%;
} 

/* Body Layout */
body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    background-image: url(/images/background.jpg);
}

/* Main Content Layout */
main {
    flex: 1;
}  


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: snow;
}  

.nav-left{
    display: flex;
    align-items: center;
} 

.title{
    font-size: 20px;
    font-weight: bold;
}

.logo{
    width: 80px;
    height: auto;
    margin-right: 10px;
    animation: rotate 2s infinite linear;
}

.title, .logo {
    animation: slideRight 1.5s ease-in-out forwards;
}

.nav-right{
    display: flex;
    gap: 15px;
}

.nav-links{
    color: snow;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}  

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    color: snow;
}  

#url{
    padding: 20px 20px;
    width: 300px;
    border: none;
    border-radius: 20px; 
} 

#checker{
    border: none;
    border-radius: 20px;
    width: 150px;
    color: snow;
    padding: 5px;
    background-image: linear-gradient(to right,hsl(111, 28%, 74%), hsl(85, 27%, 64%));
    cursor: pointer;
    text-align: center;
} 

#checker:hover{
    background-image: linear-gradient(to right,hsl(111, 28%, 84%), hsl(85, 27%, 74%));
}



/* 
Animations
*/ 

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} 

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}